body 
{
    margin:0px;
    background-image:url(../images/background/background2.jpg)
}
#nav
 {
 background-color:#262626;
 width:100%;
 height:80px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 top:0px;
}
.title
 {
 color:white;
 font-family:"Lucida Console";
 font-size:30px;
 width:350px;
 margin-top:30px;
 margin-left:50px;
 font-weight:bold;
 float:left;
}
#body 
{
 width:100%;
 margin:0px auto;
 margin-top:80px;
}
.icon
{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:5px;
    vertical-align:middle
}
li
{
    list-style-type:none;
    border-bottom-style:solid;
}
.word
{	
	font-size:20px;
	font-family:"Verdana";
    margin-left:20px;
    display:inline-block;
}
.meaning
{
	font-size:20px;
	font-family:"Comic Sans MS";
    display:inline-block;
    margin-left:49%;
    margin-right:10px;
    color: #2E8B57;
}
.phonetic
{
	font-size:25px;
	margin-left:20px;
    
}
    