body
{
	margin: 0px;
	background-image:url(../images/background/Background12.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	background-attachment:fixed;
	background-size: 100px;
}
#AppBody
{
	background-image:url(../images/background/Background12.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	background-attachment:fixed;
	background-size: 100px;
}
#nav
{
	position:fixed;
	background-color: rgb(67,96,156);
	width:100%;
	height:80px;
	box-shadow: 0px 1px 50px #5E5E5E;
	top:0px;
}
.title
{
	position:fixed;
	color:#EDEDED;
	font-family:verdana;
	font-size:25px;
	width:350px;
	margin-top:30px;
	margin-left:50px;
	font-weight:bold;
	float:left;
}
#navigation
{
	list-style-type:none; 
}
#menu 
{
	display:inline;
	padding:10px;
}
#nav a
{
	font-family:verdana;
	text-decoration:none;
	color:#EDEDED;
} 
#nav a:hover 
{
	color:#BDBDBD;
}
#body 
{
	width:100%;
	margin:0px auto;
	margin-top:80px;
}
.icon
{
    float:left;
    vertical-align:middle;
    height:120px;
    width:120px;
    margin:10px;
    border: 0px solid black;
}
ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}